Repository aa-parky/the_daily_undertaking_ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, stylelint

.pre-commit-config.yaml:

# Pre-commit configuration for The Daily Undertaking UI
# Local-only hooks - no remote repositories
# See https://pre-commit.com for more information

repos:
  - repo: local
    hooks:
      # ESLint for JavaScript
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: node
        types: [javascript]
        pass_filenames: true

      # Prettier for code formatting
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: node
        types_or: [javascript, css, html, markdown, json, yaml]
        pass_filenames: true

      # Stylelint for CSS
      - id: stylelint
        name: Stylelint
        entry: npx stylelint --fix
        language: node
        types: [css]
        pass_filenames: true

      # Trailing whitespace
      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: bash -c 'find . -type f \( -name "*.js" -o -name "*.css" -o -name "*.html" -o -name "*.json" -o -name "*.yaml" -o -name "*.md" \) ! -path "./node_modules/*" ! -path "./.git/*" -exec sed -i "" "s/[[:space:]]*$//" {} +'
        language: system
        pass_filenames: false
        always_run: true

      # Check for merge conflicts
      - id: check-merge-conflicts
        name: Check for merge conflicts
        entry: bash -c 'grep -r "<<<<<<< HEAD" . --include="*.js" --include="*.css" --include="*.html" --include="*.json" --include="*.yaml" --include="*.md" 2>/dev/null || true'
        language: system
        pass_filenames: false
        always_run: true

daily, landin and game html refactor
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  css/daily.css
  daily.html
  game.html
  index.html
  js/daily.js
  js/landing.js
Due: eslint, prettier, stylelint

The Dily Undertaing front page
  css/daily.css
  daily.html
  tests/unit/daily.test.js
Due: eslint, prettier, stylelint

design guidelines
  design_guidelines.md
Due: prettier

aspect ratios added to guidelines
  design_guidelines.md
Due: prettier

daily redesign
  assets/images/characters/mistress_mayhem_standing.png
  assets/images/characters/orrin_pike_sitting.png
  css/daily.css
  daily.html
Due: prettier, stylelint

daily edits to design
  css/daily.css
  daily.html
Due: prettier, stylelint

css refactor
  css/daily.css
  css/game.css
  css/shared-base.css
  daily.html
  game.html
  tests/unit/daily-refactor.test.js
Due: eslint, prettier, stylelint

colours sahred base
  css/shared-base.css
Due: prettier, stylelint

landing refactor
  css/daily.css
  css/landing.css
  css/shared-base.css
  landing.html
  tests/unit/daily-refactor.test.js
  tests/unit/landing-refactor.test.js
Due: eslint, prettier, stylelint

popups directory, testing popup-manager.js
  css/daily.css
  css/landing.css
  daily.html
  js/popup-manager.js
  landing.html
  popups/daily/daily-login.html
  popups/daily/daily-register.html
Due: eslint, prettier, stylelint

removed landing page
  css/landing.css
  landing.html
Due: prettier, stylelint

removed landing.js
  js/landing.js
Due: eslint, prettier

popup manager tests
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov.info
  tests/integration/landing-integration.test.js
  tests/unit/landing-refactor.test.js
  tests/unit/landing.test.js
  tests/unit/popup-manager.test.js
Due: eslint, prettier

ci.yml removed landing included poopups
  .github/workflows/ci.yml
Due: prettier

deleted daily.js legacy
  js/daily.js
Due: eslint, prettier

pop tests
  tests/integration/daily-popup-loading.test.js
Due: eslint, prettier

popup esc and click close fix
  game.html
  popups/daily/daily-login.html
  popups/daily/daily-register.html
  tests/integration/daily-popup-close.test.js
Due: eslint, prettier

close and script tags for testing
  daily.html
  js/popup-manager.js
  tests/integration/daily-popup-init.test.js
Due: eslint, prettier

stat barchanges
  css/game.css
  game.html
Due: prettier, stylelint

matters requiring attention
  css/game.css
  css/shared-base.css
  game.html
Due: prettier, stylelint

font changes
  css/game.css
  css/shared-base.css
  game.html
Due: prettier, stylelint

styles refactor
  css/daily.css
  css/game.css
  css/shared-base.css
  css/styles.css
  game.html
Due: prettier, stylelint

pre commit tests
  tests/unit/daily-refactor.test.js
Due: eslint, prettier

name css tweaks
  css/game.css
  css/shared-base.css
  game.html
Due: prettier, stylelint

removed refactor tests
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/script.js.html
  coverage/lcov.info
  tests/unit/daily-refactor.test.js
Due: eslint, prettier

game css edits
  css/game.css
Due: prettier, stylelint

asfalt img background
  assets/images/textures/asfalt-dark.png
  css/game.css
Due: prettier, stylelint

style tweaking and refactoring
  assets/images/textures/fresh-snow.png
  assets/images/textures/graphcoders-lil-fiber.png
  assets/images/textures/natural-paper.png
  css/game.css
  css/shared-base.css
  game.html
Due: prettier, stylelint

major game css refactor
  css/game.css
  css/shared-base.css
  game.html
Due: prettier, stylelint

major daily refactor, css and html
  assets/images/textures/asfalt-dark.png
  assets/images/textures/assult.png
  assets/images/textures/fresh-snow.png
  assets/images/textures/graphcoders-lil-fiber.png
  assets/images/textures/noisy.png
  css/daily.layout.css
  css/daily.theme.css
  css/shared-base.css
  daily.html
Due: prettier, stylelint

fonts css
  css/fonts.css
  daily.html
Due: prettier, stylelint

continue refactor of daily
  assets/fonts/Courier_Prime/CourierPrime-Bold.ttf
  assets/fonts/Courier_Prime/CourierPrime-BoldItalic.ttf
  assets/fonts/Courier_Prime/CourierPrime-Italic.ttf
  assets/fonts/Courier_Prime/CourierPrime-Regular.ttf
  assets/fonts/Crimson_Text/CrimsonText-Bold.ttf
  assets/fonts/Crimson_Text/CrimsonText-BoldItalic.ttf
  assets/fonts/Crimson_Text/CrimsonText-Italic.ttf
  assets/fonts/Crimson_Text/CrimsonText-Regular.ttf
  assets/fonts/Crimson_Text/CrimsonText-SemiBold.ttf
  assets/fonts/Crimson_Text/CrimsonText-SemiBoldItalic.ttf
  assets/fonts/IM_Fell_English/IMFellEnglish-Italic.ttf
  assets/fonts/IM_Fell_English/IMFellEnglish-Regular.ttf
  assets/fonts/IM_Fell_English_SC/IMFellEnglishSC-Regular.ttf
  assets/fonts/Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.ttf
  assets/fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-Bold.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-BoldItalic.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-Italic.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-Medium.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-MediumItalic.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-Regular.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-SemiBold.ttf
  assets/fonts/Libre_Baskerville/static/LibreBaskerville-SemiBoldItalic.ttf
  css/daily.css
  css/daily.layout.css
  css/daily.theme.css
  css/fonts.css
  daily.html
Due: prettier, stylelint

section mayhem
  daily.html
Due: prettier

root block in shared-base consolidated
  css/shared-base.css
  daily.html
Due: prettier, stylelint

masthead
  css/daily.theme.css
Due: prettier, stylelint

right sidebar columnreduce width 15%
  css/daily.layout.css
  css/daily.theme.css
  css/shared-base.css
Due: prettier, stylelint

tabbed daily tests
  css/daily.layout.css
  css/daily.theme.css
  daily.html
Due: prettier, stylelint

tab tweaks
  daily.html
Due: prettier

scroll bars
  css/daily.theme.css
  css/shared-base.css
Due: prettier, stylelint
